.secondpage-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 819px;
  width: 100vw;
  margin: 0;
  height: 410px;
  padding-top: 96px;
}
      
.box-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  width: 410px;
  height: 410px;
  padding-right: 84px;
  padding-left: 225px;
}
      
.item {
  width: 100%;
  height: 50%;
}
      
.item-box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 205px;
  height: 205px;
}

.category-name {
  font-size: 24px;
  font-weight: 500;
  padding-top: 41px;
  padding-right: 87px;
  padding-left: 26px;
}

.category-number {
  font-size: 100px;
  font-weight: 600;
  padding-left: 75px;
  padding-right: 6px;
  padding-bottom: 7px;
  color: #E5E5E5;
}

.bg1 {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  background-color: #fff;
}

.bg2 {
  background: linear-gradient(180deg, #E5E5E5 0%, #FFFFFF 100%);
}

.bg3 {
  background: linear-gradient(180deg, #9FD685 0%, #F9DD03 100%);
}

.bg4 {
  background: linear-gradient(180deg, #E5E5E5 0%, #FFFFFF 100%);
}

.page2thum-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 325px;
  height: 353px;
  padding-right: 236px;
  padding-top: 40px;
}

.page2thumnail-wrapper {
  width: 325px;
  height: 144px;
  font-size: 64px;
  font-weight: 600;
  font-style: normal;
  line-height: 72px;
  padding-bottom: 34px;
  color: #414141;
}

.page2subnamil-wrapper {
  font-size: 18px;
  font-weight: 500;
  color: #9F9F9F;
  padding-bottom: 51px;
}

.page2button-wrapper {
  width: 170px;
  height: 60px;
  font-size: 18px;
  text-align: center;
  background-color: #4A4A4A;
  color: red;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.page2button-wrapper:hover {
  background-color: red;
  color: #4A4A4A;
}