.allpage {
  width: 100vw;
  height: 100vh;
  margin : 0;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}


/* fortable */
@media (max-width: 1279px) {
  .allpage {
    min-height: 100vh;
  }
  
}