.page7-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 171px;
  width: 100vw;
  margin: 0;
}

.page7location-wrapper{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 360px;
  height: 225px;
  padding-left: 108px;
}

.page7locationname {
  width: 79px;
  height: 72px;
  font-size: 18px;
  font-weight: 600;
  line-height: 72px;
  color: #414141;
  padding-left: 93px;
}

.page7locationbackgroundimg {
  width: 360px;
  height: 148px;
  background-image: url("../../../public/img/page7loaction.png");
  background-size: cover;
  position: relative;
  z-index: 0;
}

.page7locationinfo {
  position: absolute;
  z-index: 999;
  background-color: #FFFFFF;
  margin-left: 14px;
  margin-top: 12px;
  width: 220px;
  height: 75px;
  padding-left: 20px;
  padding-top: 20px;
}

.page7locationfirst {
  font-size: 24px;
  font-weight: 600;
  color: #414141;
}

.page7locationsecond {
  font-size: 12px;
  font-weight: 600;
  color: #414141;
}



.page7company-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 111px;
  padding-bottom: 25px;
  width: 92px;
  height: 200px;

}

.page7companyname {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 92px;
  height: 72px;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  color: #414141;
}

.page7companyinfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 32px;
  color: #9F9F9F;
}




.page7contactus-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 204px;
  height: 197px;
  padding-left: 279px;
  padding-bottom: 28px;
  padding-right: 126px;
}

.page7contactname {
  width: 101px;
  height: 72px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  color: #414141;
}

.page7contactinfo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 201px;
  height: 135px;
}

.page7contactlogo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  width: 22px;
  height: 135px;
}

.page7contactlogoinfo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  width: 164px;
  height: 135px;
  padding-left: 15px;
  font-size: 14px;
  font-weight: 500;
  color: #9F9F9F;
  line-height: 45px;
}