.body-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 139px;
  margin: 0;
  min-width: 100vw;
}

.bodycenter-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 41px;
}

.bodycenter-group1 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 120%;
  display: flex;
  color: #000000;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}


.half-highlight {
  background: linear-gradient(180deg,rgba(255,255,255,0) 60%, red 40%);
}

.bodycenter-group2 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 120%;
  display: flex;
  align-items: center;
  color: #000000;
  padding-top: 36px;
}