.aboutpage-wrapper{
  min-width: 100vw;
  height: 104px;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 1px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.about-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  /* padding-left: 24px;
  padding-right: 598px; */
}

.aboutvivasecond {
  font-family: 'Varela';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 100%;
  color: #888888;
  padding-bottom: 12px;
  text-align: center;
}

.aboutbutton-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
}

.aboutbutton-wrapper button {
  border-radius: 16px;
  border: none;
  width: 96px;
  height: 46px;
  font-family: 'Varela';
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  background-color: #444444;
  color: white;
  transition: 0.3s;
  cursor: pointer; 
}

.about-wrapper button:hover {
  background-color: red;
  color: white;
}

.aboutbutton-wrapper div {
  font-family: 'Varela';
  font-weight: 400;
  font-size: 14px;
  line-height: 100%; 
}

.aboutbuttondiv2 {
  padding-left: 44px;
}

.aboutbuttondiv3 {
  padding-left: 76px;
}

.aboutbuttondiv4 {
  padding-left: 76px;
}

.aboutbuttondiv5 {
  padding-left: 76px;
}