.animation3-wrapper {
  width: 100vw;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.animation3body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.animation3viva {
  font-family: 'Varela';
  font-weight: 400;
  font-size: 12px;
  line-height: 160%;
  transform: rotate(90deg);
  padding-left: 24px;
  color: #000000;
}

.animation3center{
  font-family: 'Poppins';
  font-weight: bold;
  font-size: 140px;
  text-align: center;
  text-shadow: -1px 0px #000000, 0px 1px #000000, 1px 0px #000000, 0px -1px #000000;
  color: white;
}

.animation3center:hover {
  text-shadow: -3px 0px #3399FF, 0px 3px #3399FF, 3px 0px #3399FF, 0px -3px #3399FF;
}

.animation3second {
  font-family: 'Varela';
  font-weight: 400;
  font-size: 12px;
  line-height: 160%;
  transform: rotate(90deg);
  padding-left: 24px;
  color: #000000;
}