body {
    padding: 0;
    margin: 0;
}

.nav-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #f0f0f0;
    padding-top: 12px;
    padding-bottom: 12px;
}

.nav-left {
    display: flex;
    flex-direction: row;
}

.nav-left div {
    margin-left: 12px;
    color: #333;
}

.nav-right {
    display: flex;
    flex-direction: row;
}

.nav-right div {
    margin-right: 12px;
    color: #333;
}

.head-wrapper {
    display: flex;
    flex-direction: row;
    background-color: #ffff;
    padding: 12px;
    justify-content: space-around;
    
}

.category-wrapper {
    display: flex;
    flex-direction: column;
    margin-right: 13px;
    margin-top: 13px;
    justify-content: center;
}

.sub-wrapper {
    display: flex;
    flex-direction: row;
}

.sub2-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.join-wrapper {
    display: flex;
    flex-direction: row;
    font-size: 12px;
}
.main-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 16px;
}

.order-wrapper {
    display: flex;
    flex-direction: row;
}

.order-detail {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    padding-top: 12px;
}

.point-wrapper {
    display: flex;
    flex-direction: column;
    background-color: #ccc;
}

.free-wrapper {
    background-color: #fff;
    }
@media (max-width: 700px) {
   .main-wrapper {
       display: flex;
       flex-direction: column;
   }
}