.result-wrpper {
    background : url(../Question/mmm.jpeg) no-repeat center center;
    background-size: cover;
    width: 70vw;
    height: 70vh;
}

.thum-wrpper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 36px;
    
}

.retry-wrpper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #0abe16;
}

